.container {
    height: 500px;
    width: 500px;

    margin: 0 auto;
    border: 5px solid black;
}

.top-row {
    height: 350px;
    width: 500px;
    background-color: red;
}

.top-row-left {
    height: 180px;
    width: 100px;
    background-color: white;
    border: 5px solid black;
}

.bottom-row-left {
    height: 180px;
    width: 100px;
    background-color: white;
    border: 5px solid black;
}

.bottom-left {
    height: 140px;
    width: 100px;
    background-color: blue;
    border: 5px solid black;
    
    
}

.middle-bottom {
    height: 140px;
    width: 300px;
    background-color: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
}

.bottom-right{
    height: 140px;
    width: 100px;
    background-color: yellow;
    border: 5px solid black;
}

.bottom-row{
    display: flex;
}

.bottom-yellow{
    height: 70px;
    width: 100px;
    background-color: white;
    border: 5px solid black;
}